.testimonyWrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;

    .testimonyTitle {
        margin-bottom: 1rem;
    }

    .testimonyBody {
        margin-top: 0;
    }
}