.hero {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    
    .title {
    margin-left: 10px;
    font-size: 2rem;
    color: #333;
    font-family: sans-serif;
    }